@import './variables.scss';

.app-btn {
    border: 0;
    border-radius: 3px;
	padding: 12px 20px 12px 20px;
	cursor: pointer;
	outline: none;
}

//primary buttons
.primary {
	background: $primary-color;
	color: #FFF;

	&:hover:not([disabled]) {
		background: $light-primary;
	}
}

.primary-outline {
	border: 1px solid $primary-color;
	color: $primary-color;
	background-color: #FFF;

	&:hover:not([disabled]) {
		background-color: $primary-color;
		color: #FFF;
	}
}

.app-btn.primary[disabled] {
	background: $primary-disabled;
	cursor: not-allowed;
}

.app-btn.primary-outline[disabled] {
	color: $primary-disabled;
	cursor: not-allowed;
	border: 1px solid $primary-disabled;
}

//danger buttons
.danger {
	background: $danger-color;
	color: #FFF;

	&:hover:not([disabled]) {
		background: $danger-hover;
	}
}

.danger-outline {
	border: 1px solid $danger-color;
	color: $danger-color;
	background-color: #FFF;

	&:hover:not([disabled]) {
		background-color: $danger-color;
		color: #FFF;
	}
}

.app-btn.danger[disabled] {
	background: $danger-disabled;
	cursor: not-allowed;
}

.app-btn.danger-outline[disabled] {
	color: $danger-disabled;
	cursor: not-allowed;
	border: 1px solid $danger-disabled;
}
