@import './variables.scss';

//primary buttons
.primary {
	background: $primary-color;
	color: #FFF;

	&:hover:not([disabled]) {
		background: $light-primary;
	}
}

.app-btn.primary[disabled] {
	background: $primary-disabled;
	cursor: not-allowed;
}
