$light-primary: #5691b8;
$primary-color: #1F618D;
$dark-primary: #1c394d;
$primary-disabled: #9acdf1;

$light-accent: #8a9faa;
$accent-color: #607d8b;
$dark-accent: #445a64;

$light-danger: #de7171;
$danger-color: #c73a3a;
$danger-disabled: #faa7a7;

$header-height: 65px;

