<form class="sign-in-form"
	[formGroup]="registerForm"
	(ngSubmit)="register()">
	<h3 class="heading">Register</h3>

	<input type="text"
		formControlName="firstName"
		placeholder="First name"
		autocomplete="off">

	<input class="mt-3"
		type="text"
		formControlName="lastName"
		placeholder="Last name"
		autocomplete="off">

	<input class="mt-3"
		type="text"
		formControlName="username"
		placeholder="Username"
		autocomplete="off">

	<input class="mt-3"
		type="text"
		formControlName="email"
		placeholder="Email"
		autocomplete="off">

	<input class="mt-3"
		type="password"
		formControlName="password"
		placeholder="Password">

	<input class="mt-3"
		type="text"
		formControlName="mobile"
		placeholder="Mobile number"
		autocomplete="off">

	<div class="mt-4">
		<form-submit-btn btnLable="Register"
			[formInvalid]="registerForm.invalid"
			[isLoading]="isLoading">
		</form-submit-btn>
	</div>

	<hr class="gray-hr">
	<div class="register">
		<a class="create-acc-link">Already have an account ye? Sign in here</a>
	</div>
</form>