<mat-form-field [appearance]="appearance">
	<mat-label>{{label}}</mat-label>

	<input [type]="type"
		matInput
		[formControl]="control"
		[placeholder]="placeholder" />


	<mat-error class="error-message"
		*ngIf="checkRequired() && !hideErrors">
		{{"errors.required" | translate}}
	</mat-error>

	<mat-error class="error-message"
		*ngIf="checkMinLength() && !hideErrors">
		{{"errors.minlength" | translate}} ({{control.errors?.minlength?.requiredLength}} /
		{{control.errors?.minlength?.actualLength}})
	</mat-error>

	<mat-error class="error-message"
		*ngIf="checkMaxLength() && !hideErrors">
		{{"errors.maxlength"}} ({{this.control.errors?.maxlength?.requiredLength}} /
		{{this.control.errors?.maxlength?.actualLength}})
	</mat-error>

	<mat-error class="error-message"
		*ngIf="checkMin() && !hideErrors">
		{{"errors.min" | translate}} ({{this.control.errors?.min?.min}} /
		{{this.control.errors?.min?.actual}})
	</mat-error>

	<mat-error class="error-message"
		*ngIf="checkMax() && !hideErrors">
		{{"errors.max" | translate}} ({{this.control.errors?.max?.max}} /
		{{this.control.errors?.max?.actual}})
	</mat-error>

	<mat-error class="error-message"
		*ngIf="checkNotMatching() && !hideErrors">
		{{"errors.notmatchingpassword" | translate}}
	</mat-error>
</mat-form-field>


<!--add remaining error messages-->


<!-- <button (click)="log()">DO</button> -->