<div *ngIf="project?.stacks.length > 0"
	class="stacks-container">

	<div *ngFor="let stack of project.stacks; index as i"
		class="stack card">
		
		<h3 class="stack-title">
			<i class="i-pencil">
			</i>
			{{stack.title}}
		</h3>

		<div class="cards-box">
			<div *ngFor="let card of stack?.cards"
				class="card-viewer">
				<p class="m-0">{{card.title}}</p>
			</div>
		</div>

		<form [formGroup]="newCardForms"
			class="new-card"
			(ngSubmit)="createCard(i)">
			<div formArrayName="cardForms">
				<div [formGroupName]="i">
					<input class="card-input"
						[placeholder]="'forms.title' | translate"
						formControlName="title">

					<div class="mt-2">
						<button mat-flat-button
							color="accent"
							[disabled]="creatingCard && cardForms['controls'][i].valid">
							{{'labels.addCard' | translate}}
							<mat-spinner *ngIf="creatingCard && cardForms['controls'][i].valid"
								class="d-inline-block"
								diameter="20">
							</mat-spinner>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>

	<form [formGroup]="newStackForm"
		class="stack card new-stack"
		(ngSubmit)="createStack()">
		<h3 class="stack-title">
			{{'labels.createStack' | translate}}
		</h3>
		<input class="card-input"
			[placeholder]="'forms.title' | translate"
			formControlName="title">
		<div class="mt-2">
			<button mat-flat-button
				color="accent"
				[disabled]="creatingStack && newStackForm.invalid">
				{{'labels.addStack' | translate}}
				<mat-spinner *ngIf="creatingStack"
					class="d-inline-block"
					diameter="20">
				</mat-spinner>
			</button>
		</div>
	</form>
</div>
