<h2>{{isEdit? 'Edit Project' : 'Add Project'}}</h2>

<form [formGroup]="projectForm">
	<app-input class="mt-3 d-block"
		[label]="'forms.title' | translate"
		[placeholder]="'forms.title' | translate"
		formControlName="title">
	</app-input>

	<app-input class="mt-3 d-block"
		[label]="'forms.description' | translate"
		[placeholder]="'forms.description' | translate"
		formControlName="description">
	</app-input>
	
	<button mat-flat-button
		color="accent"
		class="mt-3"
		[disabled]="busySaving || projectForm.invalid"
		(click)="save()">
		<span *ngIf="!isEdit">{{'labels.createProject' | translate}}</span>
		<span *ngIf="isEdit">{{'labels.editProject' | translate}}</span>
		<mat-spinner *ngIf="busySaving"
			class="d-inline-block"
			diameter="20">
		</mat-spinner>
	</button>

</form>