<h2>{{isEdit? 'Edit Project' : 'Add Project'}}</h2>

<form [formGroup]="projectForm">
	<app-input class="mt-3 d-block"
		label="Title"
		placeholder="Title"
		formControlName="title">
	</app-input>

	<app-input class="mt-3 d-block"
		label="Description"
		placeholder="Description"
		formControlName="description">
	</app-input>
	
	<button mat-flat-button
		color="accent"
		class="mt-3"
		[disabled]="busySaving || projectForm.invalid"
		(click)="save()">
		<span *ngIf="!isEdit">Create Project</span>
		<span *ngIf="isEdit">Edit Project</span>
		<mat-spinner *ngIf="busySaving"
			class="d-inline-block"
			diameter="20">
		</mat-spinner>
	</button>

</form>