<h3>{{card.title}}</h3>
<p class="card-subtitle">{{card.description}}</p>

<div class="card-modal-body">
	<ng-container *ngIf="card.tasks.length > 0">
		<mat-progress-bar color="primary"
			[value]="completedPrecent">
		</mat-progress-bar>
		<ul class="tasks-list">
			<li *ngFor="let task of card.tasks; index as i"
				class="task">
				{{task.task}}

				<div class="actions">
					<mat-icon [ngClass]="{
							'complete-task': task.status === 'ACTIVE',
							'completed': task.status !== 'ACTIVE'
						}"
						(click)="closeTask(task, i)">
						{{task.status === 'ACTIVE'? 'check_circle_outline' : 'check_circle'}}
					</mat-icon>
				</div>
			</li>
		</ul>
	</ng-container>

	<form [formGroup]="newTaskForm"
		class="mt-2"
		(ngSubmit)="createTask()">
		<app-input [label]="'forms.task' | translate"
			[placeholder]="'forms.task' | translate"
			formControlName="task">
		</app-input>

		<mat-form-field class="mt-1">
			<input matInput
				type="datetime-local"
				placeholder="Due date"
				formControlName="dueDate">
		</mat-form-field>

		<div class="mt-2">
			<button mat-flat-button
				color="accent"
				[disabled]="busyCreatingTask || newTaskForm.invalid">
				{{'labels.addTask' | translate}}
				<mat-spinner *ngIf="busyCreatingTask"
					class="d-inline-block"
					diameter="20">
				</mat-spinner>
			</button>
		</div>
	</form>

</div>