@import './../../../../../assets/scss/variables.scss';

.card-subtitle {
	color: #777;

	&:empty {
		display: none;
	}
}

.card-modal-body {
	.tasks-accordion .mat-expansion-panel-header-description {
		justify-content: space-between;
		align-items: center;
	  }
	
	.tasks-list {
		list-style-type: none;
		padding-left: 0;
	}
}
