<div class="card"
	[ngStyle]="{'width': width+'px'}">
	<div *ngIf="project.img"
		class="card-img"
		style='background: url({{project.img}}) no-repeat center; background-size: cover;'>
	</div>

	<div class="card-section">
		<header class="card-header">
			<h3 class="card-title">
				{{project.title}}
			</h3>
			<p *ngIf="project.description"
				class="card-subtitle">
				{{project.description}}
			</p>
		</header>
		<div *ngIf="successBtnTitle || warnBtnTitle || dangerBtnTitle"
			class="card-actions">
			<button *ngIf="successBtnTitle"
				class="app-btn mr-2"
				(click)="onSuccessClick()">
				{{successBtnTitle}}
			</button>
			<button *ngIf="warnBtnTitle"
				class="app-btn mr-2">
				{{warnBtnTitle}}
			</button>
			<button *ngIf="dangerBtnTitle"
				class="app-btn">
				{{dangerBtnTitle}}
			</button>
		</div>
	</div>	
</div>
