<!--<h2>{{ 'HOME.TITLE' | translate }}</h2>

<select #langSelect (change)="translate.use(langSelect.value)">
	<option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
  </select> -->


<mat-toolbar>
	<a href="#"
		class="logo">
		<mat-icon>alarm</mat-icon>
		<span>Time Management</span>
	</a>
	<button mat-button
		class="example-icon favorite-icon">
		Home
	</button>
	<span class="spacer"></span>
	<button mat-icon-button
		class="example-icon">
		<mat-icon>person</mat-icon>
	</button>
</mat-toolbar>