<div class="auth-container">
	<div class="white-layer">
		<header class="auth-header">
			<div class="logo">
				<h1>
					<i class="i-stopwatch"></i>
					Time Management
				</h1>
			</div>
		</header>
		<section class="auth-box">
			<div class="body">
				<router-outlet></router-outlet>
			</div>
		</section>
		<div class="translation-select mt-5 mb-5">
			<select #langSelect
				(change)="translate.use(langSelect.value)">
				<option *ngFor="let lang of translate.getLangs()"
					[value]="lang"
					[selected]="lang === translate.currentLang">
					{{ lang }}
				</option>
			</select>
		</div>
	</div>
</div>