<h2 class="m-0">Projects</h2>

<div *ngIf="projects?.length > 0"
	class="projects-holder">

	<mat-card class="card"
		*ngFor="let project of projects">
		<mat-card-header>
			<mat-card-title>
				{{project.title}}
			</mat-card-title>
			<mat-card-subtitle *ngIf="project.description">
				{{project.description}}
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-actions>
			<button mat-flat-button
				color="primary"
				(click)="viewProject(project.id)">
				View
			</button>
		</mat-card-actions>
	</mat-card>

</div>

<div *ngIf="projects?.length == 0 && noData == true"
	class="text-center">
	{{displayedMsgKey | translate}}
</div>