<mat-toolbar>
	<h2 class="m-0">
		Projects
	</h2>

	<span class="spacer"></span>

	<div class="add-project-btn">
		<button mat-button
			(click)="addProject()">
			Add Project
		</button>
	</div>
</mat-toolbar>

<mat-toolbar class="pagination-toolbar">
	<span class="spacer"></span>

	<mat-form-field appearance="legacy"
		*ngIf="totalPages > 1"
		class="page-select mr-2">
		<mat-label>Page</mat-label>
		<mat-select [(ngModel)]="pageNumber"
			name="pageNumber"
			(ngModelChange)="getProjects()">
			<mat-option *ngFor="let i of getPages()"
				[value]="i">
				{{i + 1}}
			</mat-option>
		</mat-select>
	</mat-form-field>

	<mat-form-field appearance="legacy"
		class="size-select">
		<mat-label>Size</mat-label>
		<mat-select [(ngModel)]="pageSize"
			name="pageNumber"
			(ngModelChange)="getProjects()">
			<mat-option [value]="5">5</mat-option>
			<mat-option [value]="10">10</mat-option>
			<mat-option [value]="15">15</mat-option>
			<mat-option [value]="25">25</mat-option>
		</mat-select>
	</mat-form-field>
</mat-toolbar>

<div *ngIf="projects?.length > 0"
	class="projects-holder">

	<!-- [ngStyle]="{
		background: project.img? 'url(/Users/omarabdelhady/Desktop/Backend/time-management/uploads/' + project.img + ') no-repeat center center' : 'none',
		backgroundSize: cover
	}" -->
	<mat-card class="card"
		*ngFor="let project of projects; index as i">
		<mat-card-header>
			<mat-card-title>
				{{project.title}}
			</mat-card-title>
			<mat-card-subtitle *ngIf="project.description">
				{{project.description}}
			</mat-card-subtitle>
		</mat-card-header>

		<mat-card-actions>
			<button mat-icon-button
				color="primary"
				class="card-btn"
				(click)="viewProject(project.id)">
				<mat-icon>open_in_new</mat-icon>
			</button>

			<button mat-icon-button
				color="accent"
				class="card-btn mr-1 ml-1"
				(click)="editProject(project.id, i)">
				<mat-icon>edit</mat-icon>
			</button>

			<button mat-icon-button
				color="warn"
				class="card-btn mr-1 ml-1"
				(click)="deleteProject(project, i)">
				<mat-icon>delete</mat-icon>
			</button>
		</mat-card-actions>
	</mat-card>

</div>

<div *ngIf="projects?.length == 0 && noData == true"
	class="text-center">
	{{displayedMsg}}
</div>