.projects-holder {
	display: flex;
	flex-wrap: wrap;

	.card {
		width: 300px;

		&::ng-deep .mat-card-header-text {
			margin: 0px;
		}

		&::ng-deep .mat-card-actions {
			margin: 0;
			padding: 0;
		}
	}
}
