.projects-nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	//override in rtl
	.add-project-btn {
		text-align: right;
	}
}

.projects-holder {
	display: flex;
	flex-wrap: wrap;

	.card {
		width: 300px;
		position: relative;

		&::ng-deep .mat-card-header-text {
			margin: 0px;
		}

		&::ng-deep .mat-card-actions {
			margin: 0;
			padding: 0;
		}

		.card-btn {
			cursor: pointer;

			&:hover {
				opacity: 0.8;
			}
		}
	}
}
