
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$time-management-primary: mat-palette($mat-indigo);
$time-management-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$time-management-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$time-management-theme: mat-light-theme((
  color: (
    primary: $time-management-primary,
    accent: $time-management-accent,
    warn: $time-management-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($time-management-theme);

//bootstrap grid system
@import '../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';
@import './assets/fonts/style.css';
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

@import './assets/scss/variables.scss';
@import './assets/scss/buttons.scss';
@import './assets/scss/elements.scss';

@import './assets/scss/theme.scss';


//normalization
body {
    margin: 0;
    padding: 0;
	font-family: 'Dosis', sans-serif;
	color: #333;
}

//general styles






.gray-hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0; padding: 0;
}

//move back to component only take properties to change
//delete app-card, not useful


@mixin spinner {
	animation: spin-animation 0.5s infinite;
	display: inline-block;
	color: $primary-color;
}

.s-spinner {
	@include spinner();
	font-size: 12px;
}

.l-spinner {
	@include spinner();
	font-size: 45px;
}
  
@keyframes spin-animation {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(359deg);
	}
}


//cards alignment
.card {
	margin: 15px 15px 15px 0;
}

.text-center {
	text-align: center;
}

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-card-actions {
	margin: 0;
	padding: 0;
}