@import '../node_modules/bootstrap/dist/css/bootstrap-grid.min.css';
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&display=swap');

@import './assets/scss/variables.scss';
@import './assets/scss/buttons.scss';
@import './assets/scss/elements.scss';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './assets/scss/theme.scss';


//normalization
body {
    margin: 0;
    padding: 0;
	font-family: 'Dosis', sans-serif;
	color: #333;
}

//general styles






.gray-hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0; padding: 0;
}

//move back to component only take properties to change
//delete app-card, not useful


@mixin spinner {
	animation: spin-animation 0.5s infinite;
	display: inline-block;
	color: $primary-color;
}

.s-spinner {
	@include spinner();
	font-size: 12px;
}

.l-spinner {
	@include spinner();
	font-size: 45px;
}
  
@keyframes spin-animation {
	0% {
	  transform: rotate(0deg);
	}
	100% {
	  transform: rotate(359deg);
	}
}


//cards alignment
.card {
	margin: 15px 15px 0 0;

	.action-box {
		text-align: right; //to be override

		.action-btn {
			border: none;
			background: none;
			color: $danger-color;
			outline: none;
			cursor: pointer;

			&:hover {
				color: $light-danger;
				text-decoration: underline;
			}
		}
	}
}

.stack.card {
	margin: 0 15px 0 0;;
}

.text-center {
	text-align: center;
}

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mat-card-actions {
	margin: 0;
	padding: 0;
}