<form class="sign-in-form"
	[formGroup]="signInForm"
	(ngSubmit)="signIn()">
	<h3 class="heading">Sign in</h3>

	<input type="text"
		formControlName="usernameOrEmail"
		placeholder="Username or Email"
		autocomplete="off">

	<input class="mt-3"
		type="password"
		formControlName="password"
		placeholder="Password">

	<div class="mt-4">
		<form-submit-btn btnLable="Sign In"
			[formInvalid]="signInForm.invalid"
			[isLoading]="isLoading">
		</form-submit-btn>
	</div>

	<hr class="gray-hr">
	<div class="register">
		<a class="create-acc-link">Don't have an account ye? Create one</a>
	</div>
</form>